* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

:root {
  --white: #FFFFFF;

  --purple-900: #11041D;
  --purple-700: #3b2553;

  --pink-200: #BD3ACD;
  --pink-500: #A041FE;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}
